<h1>Productos en Tiempo Real</h1>
<ul id="lista-productos"></ul>
<script>
  const socket = io();
  socket.on("actualizarProductos", producto => {
    document.getElementById("lista-productos").innerHTML += `<li>${producto.title} - $${producto.price}</li>`;
  });
</script>
